@media only screen and (max-width: 576px) {
    .navbar {
        height: 120px;
    }
}

h1 {
  
  color:#faa
  
}

h2 {
  background-color: blue;
  color: yellow
}

#titulo{
  color:cornflowerblue;
  text-align:center;
  justify-content: center;
  align-items: center;
}
#titulo2{
  color:coral
}

/*body{
  background-color: #fafafa;
}


.layout{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
}*/